body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  /*background: rgba(0, 0, 0, 0.05);*/
  font-weight: bold;
  color: black;
  padding: 0 auto;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  /*color: rgba(0, 0, 0, 0.8);*/
}

h2 {
  font-size: 120px;
}
